[color]
	ui = true
[alias]
  s = status
  lol = log --pretty=oneline --abbrev-commit --graph --decorate
  plog = log --graph --oneline --all
  co = checkout
  commit = c
  l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  pr = pull --rebase
  sl = shortlog -ns
[user]
	name = Dominic Bou-Samra
	email = dominic.bou.samra@gmail.com
[core]
	editor = vim
	excludesfile = /Users/domlebo70/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
