[color]
	ui = true
[alias]
	s = status
	lol = log --pretty=oneline --abbrev-commit --graph --decorate
[user]
	name = Dominic Bou-Samra
	email = dominic.bou.samra@gmail.com
[core]
	editor = open -a 'Sublime Text 2'
	excludesfile = /Users/domlebo70/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
